{% extends "layouts/app.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Register</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <input type="text" name="{{form.username.name}}" class="form-control" value="{{ form.username.value}}" placeholder="Create a Username" required />
                <span class="text-danger">{{ form.username.errors }}</span>
            </div>

            <div class="form group">
                <label for="{{ form.first_name.id_for_label }}">first_name:</label>
                <input type="text" name="{{form.first_name.name}}" class="form-control" value="{{ form.first_name.value}}" placeholder="Enter your first_name" required />
                <span class="text-danger">{{ form.first_name.errors }}</span>
            </div>

            <div class="form group">
                <label for="{{ form.last_name.id_for_label }}">last_name:</label>
                <input type="text" name="{{form.last_name.name}}" class="form-control" value="{{ form.last_name.value}}" placeholder="Enter your last_name" required />
                <span class="text-danger">{{ form.last_name.errors }}</span>
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="email" name="{{ form.email.name }}" class="form-control" value="{{ form.email.value }}" placeholder="Enter your email" required />
                <span class="text-danger">{{ form.email.errors }}</span>
            </div>

            <div class="form group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <input type="password" name="{{form.password1.name}}" class="form-control" value="{{ form.password1.value}}" placeholder="Create a Password" required />
                <span class="text-danger">{{ form.password1.errors }}</span>
            </div>

            <div class="form group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                <input type="password" name="{{form.password2.name}}" class="form-control" value="{{ form.password2.value}}" placeholder="Confirm Password" required />
                <span class="text-danger">{{ form.password2.errors }}</span>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Register / SignUp</button>
            <a href="{% url 'login' %}" class="btn btn-default"> Login </a>

        </form>
    </div>
</div>

{% endblock  %}